notas.md
archivos/requerimientos.pdf
propuesta-viejo*
archivos/estructura-pagina.svg
node_modules/
*.env
*config.*
*dbconfig.*
archivos/paquetes.docx
sample*.json
backend/dist/*
*.js
*paquetes*.docx
codigo-clase/
pensando.md
}
